<div>
  <!-- Breadcrumb Navigation -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]='["/users"]'>Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Zones</li>
    </ol>
  </nav>

  <!-- Title Bar with Add Button -->
  <div class="top-title-bar">
    <h2 class="page-title">Zones</h2>
    <div class="filter-role">
      <a href="#" [routerLink]='["/zones/create"]' class="btn btn-defult site-btn">
        <i class="fa fa-plus"></i> Zone
      </a>
    </div>
  </div>

  <!-- White Box Container with Kendo Grid -->
  <div class="white-box">
    <div class="table-responsive" style="width:100%">
      <div class="mat-elevation-z8">
        <kendo-grid [kendoGridBinding]="zones"
                    [filterable]="true"
                    [pageSize]="state.take"
                    [skip]="state.skip"
                    [sortable]="true"
                    [columnMenu]="false"
                    [sort]="state.sort"
                    (dataStateChange)="dataStateChange($event)"
                    [pageable]="true">

          <kendo-grid-messages noRecords="{{_appConstant.noRecordsMessage}}"></kendo-grid-messages>

          <!-- Zone Name Column -->
          <kendo-grid-column field="zoneName" title="Zone Name" width="25%">
          </kendo-grid-column>

          <!-- AVP Column -->
          <kendo-grid-column field="avpName" title="AVP" width="20%">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.avpName || '-' }}
            </ng-template>
          </kendo-grid-column>

          <!-- Created By Column -->
          <kendo-grid-column field="createdBy" title="Created By" width="15%">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.createdBy || '-' }}
            </ng-template>
          </kendo-grid-column>

          <!-- Created Date Column -->
          <kendo-grid-column field="createdDate" title="Created Date" width="15%">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.createdDate | date:'dd/MM/yyyy' }}
            </ng-template>
          </kendo-grid-column>

          <!-- Status Column with Toggle -->
          <kendo-grid-column field="isActive" title="Status" width="15%" filter="boolean">
            <ng-template kendoGridFilterCellTemplate let-filter>
              <div>
                <kendo-dropdownlist [data]="_appConstant.listItems"
                                    textField="text"
                                    valueField="value"
                                    class="custom-dropdown"
                                    [(ngModel)]="_appConstant.selectedValue"
                                    [valuePrimitive]="true"
                                    (selectionChange)="activeInactiveFilterChange($event)">
                </kendo-dropdownlist>
              </div>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="btn-style">
                <input type="button"
                       class="{{dataItem.isActive == true ? 'btn btn-default btnStatus btn-active' : 'btn btn-default btnStatus btn-inactive'}}"
                       value="{{dataItem.isActive == true ? 'Active' : 'Inactive'}}"
                       (click)="toggleZoneStatus(dataItem)">
              </div>
            </ng-template>
          </kendo-grid-column>

          <!-- Actions Column -->
          <kendo-grid-command-column title="Actions" width="10%">
            <ng-template kendoGridCellTemplate kendoTooltip let-dataItem>
              <li kendoGridEditCommand title="Edit Zone" (click)="editZone(dataItem.zoneId)" class="pencil">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </li>
              <!-- Optional: Uncomment if delete is needed -->
              <!-- <li kendoGridEditCommand title="Delete Zone" (click)="deleteZone(dataItem.zoneId)" class="trash">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </li> -->
            </ng-template>
          </kendo-grid-command-column>

        </kendo-grid>
      </div>
    </div>
  </div>
</div>
